.made {
  margin-bottom: 160px;
}
.made__head {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 64px;
}
.made__logo {
  max-width: 160px;
  width: 100%;
  display: flex;
}
.made__logo img {
  width: 100%;
  object-fit: cover;
}
.made__title {
  max-width: 1211px;
  width: 100%;
}
.made__media {
  display: flex;
}
.made__media img,
.made__media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.made__info {
  min-height: 364px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.made__info-body {
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.made__info-title {
  font-weight: 600;
}
.made__info-title {
  line-height: 100%;
  letter-spacing: -0.02em;
}
.made__info-text {
  font-size: 16px;
  line-height: 120%;
  color: var(--colors-black-60);
}
@media (width <= 62em) {
  .made {
    margin-bottom: 100px;
  }
}
@media (width <= 48em) {
  .made__head {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .made__info {
    min-height: auto;
    padding-block: 36px;
  }
  .made__info-body {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (width <= 30em) {
  .made__logo {
    max-width: 120px;
  }
}
@media (width <= 29.99875em) {
  .made__title {
    font-size: 38px;
  }
  .made__info-title {
    font-size: 22px;
  }
}
@media (width > 29.99875em) and (width <= 103.25em) {
  .made__title {
    font-size: clamp( 38px , 27.3521612259px  +  2.2183921776vw , 64px );
  }
  .made__info-title {
    font-size: clamp( 22px , 21.1809354789px  +  0.1706455521vw , 24px );
  }
}
@media (width > 103.25em) {
  .made__title {
    font-size: 64px;
  }
  .made__info-title {
    font-size: 24px;
  }
}