.mission {
  margin-bottom: 160px;
}
.mission__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.mission__head {
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
}
.mission__media {
  min-height: 300px;
  display: flex;
}
.mission__media img,
.mission__media video {
  width: 100%;
  object-fit: cover;
}
@media (width <= 62em) {
  .mission {
    margin-bottom: 100px;
  }
  .mission__container {
    gap: 36px;
  }
  .mission__head {
    gap: 36px;
  }
}
@media (width <= 29.99875em) {
  .mission__title {
    font-size: 22px;
  }
}
@media (width > 29.99875em) and (width <= 103.25em) {
  .mission__title {
    font-size: clamp( 22px , 11.3521612259px  +  2.2183921776vw , 48px );
  }
}
@media (width > 103.25em) {
  .mission__title {
    font-size: 48px;
  }
}