.ourtech {
  margin-bottom: 160px;
}
.ourtech__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.ourtech__head {
  max-width: 634px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.ourtech__text {
  max-width: 470px;
  line-height: 120%;
}
.ourtech__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.35fr 1fr;
  grid-auto-flow: dense;
  gap: 16px;
}
.ourtech__item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.ourtech__item-media {
  width: 100%;
  display: flex;
}
.ourtech__item-media img,
.ourtech__item-media video {
  width: 100%;
  object-fit: cover;
}
.ourtech__item-media video {
  aspect-ratio: 290/239;
}
.ourtech__item-text {
  font-size: 16px;
  line-height: 120%;
}
@media (width <= 62em) {
  .ourtech__container {
    gap: 32px;
  }
  .ourtech__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 48em) {
  .ourtech {
    margin-bottom: 100px;
  }
  .ourtech__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .ourtech__item--big {
    grid-row: span 2;
  }
  .ourtech__item--big .ourtech__item-media {
    flex: 1 1 auto;
  }
  .ourtech__item--big .ourtech__item-media img,
  .ourtech__item--big .ourtech__item-media video {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
  }
  .ourtech__item-media img {
    aspect-ratio: 167/170;
  }
  .ourtech__item-media video {
    aspect-ratio: 167/138;
  }
}
@media (width <= 30em) {
  .ourtech__title {
    font-size: 38px;
  }
  .ourtech__text {
    font-size: 15px;
  }
  .ourtech__items {
    gap: 10px;
  }
  .ourtech__item {
    gap: 12px;
  }
  .ourtech__item-text {
    font-size: 15px;
  }
}
@media (width > 30em) and (width <= 103.25em) {
  .ourtech__title {
    font-size: clamp( 38px , 27.3515358362px  +  2.2184300341vw , 64px );
  }
}
@media (width > 103.25em) {
  .ourtech__title {
    font-size: 64px;
  }
}